<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/style.css' />

    <meta charset="UTF-8">
    <title>Listen to the Input Audio</title>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<body>
<div style="text-align: center;">

    <H3>Listen to the Input Audio</H3>
        <form method="POST">

    <label for="file-upload" class="custom-file-upload"><br><br>
    </label>
    <input id="file-upload" name = 'file' type="file">
    <br><br>
            <button type="submit">Submit</button>
        </form>
    <audio controls ='controls',  src={{href3}}></audio>
</div>
</body>
</html>